<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="main">
  <div class="container" style="margin-top: 2%;">
    <div class="titlePage">
      <label>CENTRAL DE AUTENTICAÇÃO</label>
    </div>
    <center>
      <div class="middle">
        <div id="login">
          <form>
            <%= form_with scope: :user, url: sessions_path, local: true do |f| %>
            <fieldset class="clearfix">
              <div style="width:250px;" class="responsiveLoginArea">
                <p><span class="fa fa-user"></span><%= f.text_field :email , placeholder: "E-Mail"%></p>
                <p style="margin-bottom: 0px !important;"><span class="fa fa-lock"></span><%= f.password_field :password , style: 'margin-bottom: 0px !important' , placeholder: "Senha"%></p>
                <span style="text-align:left;  display: inline-block; margin-bottom: 9px;"><a class="small-text" href="#">Esqueci minha senha</a></span>
                <div class="ui-group-buttons" style="width: 100% !important;">
                  <a href="/users/new" class="btn btn-danger" role="button" style="width: 49%;"><span class="glyphicon glyphicon-user"></span> Cadastrar</a>
                  <div class="or"></div>
                  <button class="btn btn-success" style="width: 49%;"><span class="glyphicon glyphicon-log-in"></span> Logar</button>
                </div>
              </div>
              <div>
<!--
                <span style="text-align:right;  display: inline-block;"><%= f.submit 'Entrar' %></span>
-->
                <div style="margin-left: auto; margin-right: auto;">
                  <a href="/oauth/facebook"  class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                  <a href="/oauth/google"  class="btn-social btn-google-plus"><i class="fa fa-google"></i></a>
                  <a href="/senado" class="btn-social btn-senado"><img src="https://www12.senado.leg.br/hpsenado/icon_senado.png" style="width: 16px" id="imgLogin"></a>
                  <a href="/interlegis" class="btn-social btn-interlegis"><img src="http://www.interlegis.leg.br/logo.png" style="width: 16px" id="imgLogin"></a>
                </div>
              </div>
            </fieldset>
            <div class="clearfix"></div>
          </form>
          <div class="clearfix"></div>
            <% end %>
        </div>
        <div class="logo escondeLogoResponsive">
            <img src="https://www.senado.leg.br/atividade/plenario/ordemdodia/Img/brasaoColorDeg.png" style="width: 190px;" class="">
        </div>
      </div>
    </center>
  </div>
</div>

<!--
<h1>Login Centralizado</h1>
<%= form_with scope: :user, url: sessions_path, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password %><br>
  <%= f.submit 'Entrar' %>
  <%= link_to 'Registrar', new_user_path, style: 'margin-left: 2vw;' %>
<% end %>
<%= link_to 'Login com Senado', cas_senado_path %> <br>
<%= link_to 'Login com Interlegis', interlegis_page_path %><br>
<%= link_to 'Login com Google', auth_at_provider_path(:provider => :google) %> <br>
<%= link_to 'Login com Facebook', auth_at_provider_path(:provider => :facebook) %>
-->
