<h1>Login Centralizado</h1>

<%= form_with scope: :user, url: sessions_path, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password %><br>
  <%= f.submit 'Entrar' %>
  <%= link_to 'Registrar', new_user_path, style: 'margin-left: 2vw;' %>
<% end %>
<%= link_to 'Login com Senado', cas_senado_path, method: :post %> <br>
<%= link_to 'Login com Interlegis', interlegis_page_path %><br>
<%= link_to 'Login com Google', auth_at_provider_path(:provider => :google) %> <br>
<%= link_to 'Login com Facebook', auth_at_provider_path(:provider => :facebook) %>