<div class="main">
  <div class="container responsiveTop" style="margin-top: 2%;">
    <div class="bigScreen">
      <center>
        <div class="middle">
          <div id="login" class="loginResponsive" style="border-right: 0px !important;">
            <%= form_with model: @user, local: true do |f| %>
              <fieldset class="clearfix">
                <div style="width:350px;" class="">
                  <div class="wrapper"><p>
                    <span class="fa fa-lock"></span><%= f.password_field :password, :required => true, placeholder: "Senha", style: 'width: 300px', class: ' inputResponsive' %>
                  </p></div>
                  <div class="error">
                    <%= @user.errors[:senha][0] if @user.errors.include?(:senha) %>
                  </div>    
                  <div class="wrapper"><p>
                    <span class="fa fa-lock"></span><%= f.password_field :password_confirmation, :required => true, placeholder: "Confirmação Senha", style: 'width: 300px', class: ' inputResponsive' %>
                  </p></div>
                  <div class="error">
                    <%= @user.errors[:conf_senha][0] if @user.errors.include?(:conf_senha) %>
                  </div>    
                  <div class="ui-group-buttons" style="width: 100% !important;">
                    <a href="/users" class="btn btn-danger" role="button" style="width: 49%;"><span class="glyphicon glyphicon-remove"></span>
                      Voltar</a>
                    <div class="or"></div>
                    <button class="btn btn-success" style="width: 49%;"><span class="glyphicon glyphicon-ok"></span>
                      Salvar
                    </button>
                  </div>
                  <%= f.hidden_field :edit_type, value: 'pw' %>
                </div>
                <div>
                </div>
              </fieldset>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>