<div class="main">
  <div class="container containerResp">
    <div class="titlePage">
      <label>CADASTRO</label>
    </div>
    <center>
      <div class="middle">
        <div id="login" class="loginResponsive" style="border-right: 0px !important;">
          <%= form_with model: @user, local: true do |f| %>



            <fieldset class="clearfix">
              <div style="width:350px;" class="inputAllResponsive">


                <div class="wrapper"><p><span class="fa fa-user"></span>
                  <div class="tooltip">Insira seu nome
                  </div><%= f.text_field :first_name, :required => true, placeholder: "Nome", style: 'width: 300px', class: ' inputResponsive' %></p>
                </div>

                <div class="wrapper"><p><span class="fa fa-user"></span>
                  <div class="tooltip">Insira seu sobrenome
                  </div><%= f.text_field :last_name, :required => true, placeholder: "Sobrenome", style: 'width: 300px', class: ' inputResponsive' %></p>
                </div>
                <div class="wrapper"><p><span class="fa fa-address-card"></span>
                  <div class="tooltip">Insira seu cpf
                  </div><%= f.text_field :cpf, :required => true, placeholder: "CPF", style: 'width: 300px', class: ' inputResponsive', 'data-mask': '999.999.999-99' %></p>
                </div>
                <div class="wrapper"><p><span class="fa fa-phone"></span>
                  <div class="tooltip">Insira seu telefone
                  </div><%= f.text_field :phone, :required => true, placeholder: "Telefone", style: 'width: 300px', class: ' inputResponsive' %></p>
                </div>
                <div class="wrapper"><p><span class="fa fa-birthday-cake"></span>
                  <div class="tooltip">Insira sua data de nascimento
                  </div><%= f.text_field :birth_date, :required => true, placeholder: "Data de Nascimento", style: 'width: 300px', class: ' inputResponsive', 'data-mask': '99/99/9999' %></p>
                </div>
                <div class="wrapper"><p><span class="fa fa-at"></span>
                  <div class="tooltip">Insira seu email
                  </div><%= f.text_field :email, :required => true, placeholder: "E-Mail", style: 'width: 300px', class: ' inputResponsive' %></p>
                </div>
                <div class="error">
                <%= @user.errors[:email][1] if @user.errors.include?(:email) %>
                </div>
                <div class="wrapper"><p><span class="fa fa-photo"></span>
                  <div class="tooltip">Adicione sua foto</div>
                  <%= f.file_field :avatar, :required => false, style: 'width: 200px', class: ' inputResponsive', id: "files", accept:'image/*' %></p>
                  <div class="image-box">
                    <div id="result">
                      <img src="" id="imagem"/>
                    </div>
                  </div>
                </div>
                <div class="error">
                  <%= @user.errors[:avatar][1] if @user.errors.include?(:avatar) %>
                </div>
                <div class="wrapper"><p><span class="fa fa-lock"></span>
                  <div class="tooltip">Insira sua senha
                  </div><%= f.password_field :password, :required => true, placeholder: "Senha", style: 'width: 300px', class: ' inputResponsive' %></p>
                </div>
                <div class="error">
                <%= @user.errors[:senha][0] if @user.errors.include?(:senha) %>
                </div>
                <div class="wrapper"><p><span class="fa fa-lock"></span>
                  <div class="tooltip">Repita sua senha
                  </div><%= f.password_field :password_confirmation, :required => true, placeholder: "Confirmação Senha", style: 'width: 300px', class: ' inputResponsive' %></p>
                </div>
                <div class="error">
                <%= @user.errors[:conf_senha][0] if @user.errors.include?(:conf_senha) %>
                </div>
                <div class="ui-group-buttons" style="width: 100% !important;">
                  <a href="/" class="btn btn-danger" role="button" style="width: 49%;"><span class="glyphicon glyphicon-remove"></span>
                    Cancelar</a>
                  <div class="or"></div>
                  <button class="btn btn-success" style="width: 49%;"><span class="glyphicon glyphicon-ok"></span>
                    Cadastrar
                  </button>
                </div>
              </div>
            </fieldset>
            <div class="clearfix"></div>

            <div class="clearfix"></div>
          <% end %>
        </div>
      </div>
    </center>
  </div>
</div>