<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<div class="main">
  <div class="container containerResp">
    <div class="titlePage">
      <label>CADASTRO</label>
    </div>
    <center>
      <div class="middle">
        <div id="login" class="loginResponsive" style="border-right: 0px !important;">
            <%= form_with model: @user, local: true do |f| %>
              <fieldset class="clearfix">
                <div style="width:350px;" class="inputAllResponsive">
                  <div class="wrapper"><p><span class="fa fa-user"></span><div class="tooltip">Insira seu nome</div><%= f.text_field :name, :required => true, placeholder: "Nome", style: 'width: 300px', class:' inputResponsive', value: '' %></p></div>
                  <div class="wrapper"><p><span class="fa fa-at"></span><div class="tooltip">Insira seu email</div><%= f.text_field :email, :required => true, placeholder: "E-Mail", style: 'width: 300px', class:' inputResponsive', value: '' %></p></div>
                  <div class="wrapper"><p><span class="fa fa-lock"></span><div class="tooltip">Insira sua senha</div><%= f.password_field :password, :required => true, placeholder: "Senha", style: 'width: 300px', class:' inputResponsive', value: '' %></p></div>
                  <div class="wrapper"><p><span class="fa fa-lock"></span><div class="tooltip">Repita sua senha</div><%= f.password_field :password_confirmation, :required => true, placeholder: "Confirmação Senha", style: 'width: 300px', class:' inputResponsive', value: '' %></p></div>
                  <div class="ui-group-buttons" style="width: 100% !important;">
                    <a href="/" class="btn btn-danger" role="button" style="width: 49%;"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                    <div class="or"></div>
                    <button class="btn btn-success" style="width: 49%;"><span class="glyphicon glyphicon-ok"></span>  Cadastrar</button>
                  </div>
                </div>
                <div>
                </div>
              </fieldset>
              <div class="clearfix"></div>

              <div class="clearfix"></div>
            <% end %>
            </div>
      </div>
    </center>
  </div>
</div>
<!--
<%= form_with model: @user, local: true do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name, :required => true %> <br>
  <%= f.label :email %>
  <%= f.text_field :email, :required => true %> <br>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password, :required => true %> <br>
  <%= f.label :password_confirmation, 'Confirmar Senha' %>
  <%= f.password_field :password_confirmation, :required => true %> <br>
  <%= f.submit 'Criar Conta' %>
<% end %>
-->