<div class="main">
  <div class="container responsiveTop" style="margin-top: 2%;">
    <div class="titlePage bigScreen">
      <label>PÁGINA DO USUÁRIO</label>
    </div>
    <center>
      <div class="middle">
        <div id="login" class="sizeLeft responsiveSize">
          <div class="">
            <h2 style="color: white;">Usuário</h2>
          </div>
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, :style => "width: 200px; height: 200px;" %>
          <% end %>
          <h3 style="display: inline-block; color: white;"><%= @user.name %></h3><br> <!-- Aqui talvez fique legal imagem redonda e ícone/img de usuário se não tiver a imagem -->
          <%= link_to 'Editar Minha Conta', edit_user_path, style: 'font-size: 15px;'  %> <br><br>
          <%= link_to 'Editar Minha Senha', edit_password_path, style: 'font-size: 15px;'  %><br><br>
          <% if @user.role.id == 1 %>
            <%= link_to 'Consultar chaves', panel_path, style: 'font-size: 15px;'  %>
          <% end %>
          <% auths = @user.authentications %>
          <% if auths.length < 4 %>
            <div class="smallScreen">
              <div class="">
                <h2 style="color: white;">Vincular Contas</h2>
              </div>
              <div style="margin-left: auto; margin-right: auto;">
                <% if auths.find_by_provider('facebook').present? %>
                  <a href="#" class="btn-social btn-facebook disabled"><i class="fa fa-facebook"></i></a>
                <% else %>
                  <a href="/oauth/facebook" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                <% end %>
                <% if auths.find_by_provider('google').present? %>
                  <a href="#" class="btn-social btn-google-plus disabled"><i class="fa fa-google"></i></a>
                <% else %>
                  <a href="/oauth/google" class="btn-social btn-google-plus"><i class="fa fa-google"></i></a>
                <% end %>
                <% if auths.find_by_provider('senado').present? %>
                  <a href="#" class="btn-social btn-senado disabled"><img src="https://www12.senado.leg.br/hpsenado/icon_senado.png" style="width: 16px" id="imgLogin"></a>
                <% else %>
                  <a href="/senado" class="btn-social btn-senado"><img src="https://www12.senado.leg.br/hpsenado/icon_senado.png" style="width: 16px" id="imgLogin"></a>
                <% end %>
                <% if auths.find_by_provider('interlegis').present? %>
                  <a href="#" class="btn-social btn-interlegis disabled"><img src="http://www.interlegis.leg.br/logo.png" style="width: 16px" id="imgLogin"></a>
                <% else %>
                  <a href="/interlegis" class="btn-social btn-interlegis"><img src="http://www.interlegis.leg.br/logo.png" style="width: 16px" id="imgLogin"></a>
                <% end %>
              </div>
              <div class="paddingButtonSocial"><a id="btnSocials" href="/senado">
                <%= link_to 'Sair', logout_path(@user.id), method: 'delete', class: 'noHref btn btn-danger btn-lg btn-block' %> </button>
              </a></div>
            </div>
          <% end %>
        </div>
        <div class="logo sizeRight bigScreen" style="padding: 2%  ;">
          <% if auths.length < 4 %>
            <div class="">
              <h2>Vincular Contas</h2>
            </div>
            <% if auths.find_by_provider('facebook').present? %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="#">
                <button type="button" class="btn btn-facebook-lg btn-lg btn-block disabled">
                  <i class="fa fa-facebook"></i>
                  Facebook
                </button>
              </a></div>
            <% else %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="/oauth/facebook">
                <button type="button" class="btn btn-facebook-lg btn-lg btn-block"><i class="fa fa-facebook"></i>
                  Facebook
                </button>
              </a></div>
            <% end %>
            <% if auths.find_by_provider('google').present? %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="#">
                <button type="button" class="btn btn-google-plus-lg btn-lg btn-block disabled">
                  <i class="fa fa-google"></i> Google
                </button>
              </a></div>
            <% else %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="/oauth/google">
                <button type="button" class="btn btn-google-plus-lg btn-lg btn-block"><i class="fa fa-google"></i>
                  Google
                </button>
              </a></div>
            <% end %>
            <% if auths.find_by_provider('senado').present? %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="#">
                <button type="button" class="btn btn-senado-lg btn-lg btn-block disabled">
                  <img src="https://www12.senado.leg.br/hpsenado/icon_senado.png" style="width: 16px" id="imgLogin">
                  Senado
                </button>
              </a></div>
            <% else %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="/senado">
                <button type="button" class="btn btn-senado-lg btn-lg btn-block">
                  <img src="https://www12.senado.leg.br/hpsenado/icon_senado.png" style="width: 16px" id="imgLogin">
                  Senado
                </button>
              </a></div>
            <% end %>
            <% if auths.find_by_provider('interlegis').present? %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="#">
                <button type="button" class="btn btn-interlegis-lg btn-lg btn-block disabled">
                  <img src="http://www.interlegis.leg.br/logo.png" style="width: 16px" id="imgLogin"> Interlegis
                </button>
              </a></div>
            <% else %>
              <div class="paddingButtonSocial"><a id="btnSocials" href="/interlegis">
                <button type="button" class="btn btn-interlegis-lg btn-lg btn-block">
                  <img src="http://www.interlegis.leg.br/logo.png" style="width: 16px" id="imgLogin"> Interlegis
                </button>
              </a></div>
            <% end %>
          <% end %>
          <div class="">
            <h2>Deslogar</h2>
          </div>
          <div class="paddingButtonSocial"><a id="btnSocials" href="/senado">
             <%= link_to 'Sair', logout_path(@user.id), method: 'delete', class: 'noHref btn btn-danger btn-lg btn-block' %> </button>
          </a></div>
        </div>
      </div>
    </center>
  </div>
</div>