<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="mainInterlegis">
  <div class="container">
    <div class="titlePage">
      <label style="letter-spacing: 0.2em;">INTERLEGIS</label>
    </div>
    <center>
      <div class="middle">
        <div id="login" class="loginResponsive" style="border-right: 0px !important;">
          <form class="formInterlegis">


            <%= form_with model: @user, local: true do |f| %>
              <fieldset class="clearfix">

                <div style="width:350px;" class="inputAllResponsive">
                  <p><span class="fa fa-at"></span><%= f.text_field :email, :required => true, placeholder: "E-Mail", style: 'width: 300px', class:' inputResponsive' %></p>
                  <p><span class="fa fa-lock"></span><%= f.password_field :password, :required => true, placeholder: "Senha", style: 'width: 300px', class:' inputResponsive' %> </p>


                  <div class="ui-group-buttons" style="width: 100% !important;">
                    <a href="/" class="btn btn-danger" role="button" style="width: 49%;"><span class="glyphicon glyphicon-remove"></span> Voltar</a>
                    <div class="or"></div>
                    <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button" style="width: 49%;"><span class="glyphicon glyphicon-ok"></span> Login</a>
                  </div>
                </div>
                <div>


                </div>
              </fieldset>
              <div class="clearfix"></div>
              </form>
              <div class="clearfix"></div>
            <% end %>
            </div> <!-- end login -->
      </div>
    </center>
  </div>
</div>

<!--

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name, :required => true %> <br>
  <%= f.label :email %>
  <%= f.text_field :email, :required => true %> <br>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password, :required => true %> <br>
  <%= f.label :password_confirmation, 'Confirmar Senha' %>
  <%= f.password_field :password_confirmation, :required => true %> <br>
  <%= f.submit 'Criar Conta' %>
<% end %>

-->
<!--


<h1>Login Centralizado</h1>

<%= form_with scope: :user, url: sessions_path, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password %><br>
  <%= f.submit 'Entrar' %>
  <%= link_to 'Registrar', new_user_path, style: 'margin-left: 2vw;' %>
<% end %>


<%= link_to 'Login com Senado', cas_senado_path %> <br>
<%= link_to 'Login com Interlegis', interlegis_page_path %><br>
<%= link_to 'Login com Google', auth_at_provider_path(:provider => :google) %> <br>
<%= link_to 'Login com Facebook', auth_at_provider_path(:provider => :facebook) %>


-->


















<!--




<h1>Login Interlegis</h1>

<%= form_with scope: :user, url: interlegis_path, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password, 'Senha' %>
  <%= f.password_field :password %> <br>
  <%= f.submit 'Entrar' %>
  <%= link_to 'Voltar',  new_session_path, style: 'margin-left: 2vw;' %>
<% end %>

-->